@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
    font-family: 'Aparajita', sans-serif;
    src: url(fonts/Aparajita.ttf);
}

:root{
    --black: #434343;
    --blue: #05aecc;
    --red: #f0626e;
    --red-text: #ef5966;
    --border-color: #cacaca;
    --gray: #c2c2c2;
    --li-color: #676767;
    --rss: #f8bc2e;
    --facebook: #39599f;
    --twitter: #45b0e3;
    --blue-point: #0063dc;
    --pink-point: #ff0084;
    --google: #1872bf;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.burder-container{
    display: none;
    justify-content: flex-end;
    padding: 20px;
}
.burder-container .logo{
    display: none;
}
.burger{
    cursor: pointer;
    
}
.line{
    height: 2px;
    width: 40px;
    margin-bottom: 5px;
    background-color: var(--blue);
}
header{
    display: flex;
    justify-content: space-between;
}
.logo{
    margin-top: 20px;
    cursor: pointer;
    width: fit-content;
}
.lists{
    min-width: 28%;
}
ul{
    width: 100%;
    display: flex;
    padding: 0;
    justify-content: space-between;
}
ul li{
    margin: 0;
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: var(--black);
}
.lists ol {
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: space-between;
}
.lists ol li{
    margin: 0;
    list-style: none;
}
.lists ol li button{
    width: 115px;
    height: 85px;
    border: 0;
    background-color: var(--blue);
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    cursor: pointer;
}
.lists .red-button{
    background-color: var(--red);
}
nav{
    height: 70px;
    background-color: var(--blue);
    z-index: 2;
}
nav ul{
    display: flex;
    padding: 0;
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    z-index: 3;
}
nav ul li{
    color: white;
    margin: 0;
    display: inline-block;
    height: 100%;
    width: 100px;
    margin-bottom: 15px;
    z-index: 4;
}
.first{
    width: 80px;
}
.second{
    width: 140px;
}
.name-nav{
    height: 100%;
    line-height: 70px;
    display: block;
    text-align: center;
    cursor: pointer;
}
nav ul li:hover{
    background-color: white;
    color: var(--red);
}
nav ul li:hover .hover-item{
    display: block;
}
.pad{
    min-width: 283px;
}
.hover-item{
    display: none;
    min-width: 100%;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: var(--red-text);
    background-color: white;
    box-shadow: 0 -5px 8px -3px rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.item{
    display: flex;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 20px;
    z-index: 4;
}
.image-item{
    width: fit-content;
    margin-right: 10px;
}
.head-item{
    margin-bottom: 7px;
}
.text-item{
    margin-bottom: 7px;
    color: var(--black);
    font-size: 14px;
}
.more-details{
    width: 70%;
    height: 22px;
    background-color: var(--blue);
    border: 0;
    color: white;
    cursor: pointer;
    margin-bottom: 17px;
}
.slider{
    margin-top: 15px;
    z-index: 300;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-column-gap: 5px;
    margin-bottom: 5px;
}
.mens{
    height: 565px;
    z-index: 500;
    background-image: url(img/mens.jpg);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}
.mens-info{
    width: 40%;
    margin-bottom: 10px;
}
.mens-text-block{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    height: max-content;
    text-align: center;
}
.mens-head{
    font-family: 'Aparajita', sans-serif;
    font-size: 58px;
    color: var(--red-text);
    margin-bottom: 10px;
}
.mens-text{
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    color: white;
    width: auto;
    font-weight: bold;
}
.mens-lower-text{
    background-color: var(--red);
    padding: 15px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
}
.womens{
    height: 279px;
    margin-bottom: 5px;
    background-image: url(img/womens.jpg);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}
.womens-info{
    width: 50%;
    margin-bottom: 10px;
}
.womens-text-block{
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    height: max-content;
}
.womens-head{
    font-family: 'Aparajita', sans-serif;
    font-size: 35px;
    color: var(--red-text);
    margin-bottom: 10px;
}
.womens-text{
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: white;
    width: auto;
    text-transform: uppercase;
}
.kids{
    height: 280px;
    background-image: url(img/kids.jpg);
    background-size: cover;
    
    cursor: pointer;
}
.brightness{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    transition: all 0.3s linear;
}
.by{
    width: 50%;
    height: 55px;
    margin-bottom: 18px;
    grid-template-columns: 3fr 2fr 2fr 3fr;
    display: none;
}
.by div{
    padding-top: 5px;
    text-align: center;
}
.by .fa{
    padding: 10px;
}
.baby-shop{
    background-color: var(--blue);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: white;
}
.gift{
    background-color: #00a1be;
    font-size: 24px;
    color: white;
}
.shop{
    background-color: var(--red);
    font-size: 24px;
    color: white;
}
.cost{
    background-color: var(--black);
    font-size: 24px;
    color: white;
}
.dollar{
    font-size: 20px;
}
sup{
    position: relative;
    top: 5px;
    font-size: 18px;
}

.womens:hover .brightness{
    background-color: rgba(0, 0, 0, 0.4);
}
.womens:hover .by{
    display: grid;
}
.womens .brightness:hover .womens-text-block{    
    display: none;
}


.kids:hover .brightness{
    background-color: rgba(0, 0, 0, 0.4);
}
.kids:hover .by{
    display: grid;
}
.kids:hover .womens-text-block{
    display: none;
}
.slider2{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-column-gap: 5px;
    margin-bottom: 25px;
}
.search-block{
    padding: 50px;
    background-color: var(--red);
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 20fr 1fr;
    justify-content: space-between;
    grid-column-gap: 20px;
}
input{
    padding: 23px;
    border: 0;
}
input::placeholder{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: var(--black);
}
.button-search{
    width: fit-content;
    text-align: center;
    position: relative;
    top: 5px;
    color: white;
    cursor: pointer;
}
.crafts{
    height: 335px;
    background-image: url(img/crafts.jpg);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.crafts-block{
    width: 50%;
    height: 55px;
    display: flex;
    justify-content: flex-end;
}
.crafts-button{
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 5px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-family:'Lato', sans-serif;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.6);
}
.title{
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    color: var(--black);
    text-align: center;
    background-color: white;
    border: 1px solid var(--red);
    border-radius: 10px;
}
.title-block{
    display: none;
    width: 100px;
    height: 0px;
    position: relative;
    bottom: 35px;
    right: 25px;
}
.crafts-block .gift{
    text-align: center;
    min-width: 40px;
    width: 50px;
}
.crafts-block .shop{
    text-align: center;
    min-width: 40px;
    width: 50px;
}
.crafts-block .fa{
    position: relative;
    top: 15px;
}
.crafts-block .cost{
    min-width: 90px;
}
.crafts-block .gift:hover .title-block{
    position: relative;
    display: block;
}
.crafts-block .shop:hover .title-block{
    position: relative;
    display: block;
}
.border{
    border-left: 15px solid var(--red);
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    transform: rotate(90deg);
    position: relative;
    top: 35px;
}
.arrow{
    border-left: 14px solid white;
    border-top: 15px solid transparent;
    border-bottom: 14px solid transparent;
    transform: rotate(90deg);
    position: relative;
    top: 5px;
}
.crafts-block .cost{
    width: 24%;
    text-align: center;
    line-height: 55px;
}
.jewerly{
    height: 100%;
    background-image: url(img/jewerly.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.ribbon{
    display: inline-block;
    width: 85px;
    height: 95px;
}
.jewerly-block{
    width: 395px;
    height: 85px;
    background-color: rgba(0, 0, 0, 0.6);
    transform: rotate(-90deg);
    margin-bottom: 168px;
    padding-left: 25px;
    position: relative;
    left: 167px;
}
.jewerly-text{
    font-family: 'Aparajita', sans-serif;
    font-size: 54px;
    color: white;
    position: relative;
    bottom: 25px;
}
.r1{
    width: 85px;
    height: 95px;
    background-color: var(--red);
    display: inline-block;
    position: relative;
    bottom: 10px;
    
}
.r2{
    display: inline-block;
    border-left: 4px solid transparent;
    border-top: 5px solid transparent;
    border-right: 4px solid #c7404b;
    border-bottom: 4px solid #c7404b;
    position: relative;
    right: 8px;
    bottom: 78px;
}
.clock{
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    margin-left: 15px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-items: center;
}
.clock-arrow-hour{
    height: 2px;
    width: 10px;
    background-color: var(--red);
    transform: rotate(-45deg);
    position: relative;
    left: 24px;
}
.clock-arrow-minute{
    height: 2px;
    width: 12px;
    background-color: var(--red);
    transform: rotate(-140deg);
    position: relative;
    left: 5px;
}
.header-news{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #bdbdbd;
    height: 75px;
    margin-bottom: 25px;
}
.new_product{
    padding-top: 30px;
    padding-right: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    color: var(--blue);
    border-bottom: 1px solid var(--red);
    margin-left: 25px;
}
aside button{
    height: 100%;
    width: 70px;
    color: white;
    border: 0;
    background-color: var(--black);
    text-align: center;
    align-content: center;
    font-size: 30px;
    cursor: pointer;
    margin: 0;
}
.news button:hover{
    background-color: var(--blue);
}
.groups{
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    grid-column-gap: 30px;
    margin-bottom: 70px;
}
.group{
    min-width: 310px;
    height: 300px;
}
.bag{
    background-image: url(img/bag.jpg);
    background-size: cover;
}
.stone{
    background-image: url(img/stone.jpg);
    background-size: cover;
}
.watch{
    background-image: url(img/watch.jpg);
    background-size: cover;
}
.group:hover .brightness{
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}
.group:hover .by{
    display: grid;
    cursor: pointer;
}
.group:hover .baby-shop{
    width: 100px;
    padding: 10px;
    display: grid;
}
.group:hover .cost{
    width: 90px;
}
.featured-prod button:hover{
    background-color: var(--red);
}
.feat-products{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2%;
    justify-content: space-between;
    overflow: hidden;
}
.prod-item{
    border: 1px solid #dfdfdf;
    width: 100%;
}
.image-prod{
    height: 290px;
    width: 100%;
    padding-top: 20px;
    cursor: pointer;
}
.img1{
    background-image: url(img/product1.jpg);
    background-size: cover;
}
.img2{
    background-image: url(img/product2.jpg);
    background-size: cover;
}
.img3{
    background-image: url(img/product3.jpg);
    background-size: cover;
}
.img4{
    background-image: url(img/product4.jpg);
    background-size: cover;
}
.ribbon-prod{
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    padding: 10px;
    width: 75px;
    background-color: var(--red);
    color: white;
    text-align: center;
}
.img3 .ribbon-prod{
    background-color: var(--blue);
}
.product-head{
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    color: var(--black);
}
.subtext{
    margin-left: 15px;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: var(--red-text);
}
.menu-bar{
    width: 100%;
    background-color: orangered;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
}
.gray-button{
    width: 100%;
    background-color: white;
    color: silver;
    border: 1px solid silver;
}
.cost-button{
    width: 100%;
    background-color: var(--red);
}
.new .cost-button{
    background-color: var(--blue);
}
.text{
    padding-left: 25px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: var(--black);
    margin-bottom: 40px;
}
.lower-img{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    margin-bottom: 35px;
}
.lower-img img{
    cursor: pointer;
}
.button-center{
    text-align: center;
    margin-bottom: 30px;
}
.register{
    width: 50%;
    border: 0;
    background-color: var(--blue);
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 27px;
    padding-top: 10px;
    padding-bottom: 10px;
}
aside{
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 50px;
}
footer{
    width: 90%;
    margin: 0 auto;
}
.lists2{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
}
.list-head{
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    color: var(--black);
    font-weight: bold;
    margin-bottom: 50px;
}
footer ol{
    margin: 0;
    padding: 0;
}
footer li{
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: var(--black);
    cursor: pointer;
    width: fit-content;
}
footer li:not(:last-child){
    margin-bottom: 20px;
}
.subscribe{
    width: 100%;
    border: 1px solid #bdbdbd;
    text-align: center;
    padding-top: 25px;
    margin-bottom: 25px;
}
.email{
    font-family: 'Lato', sans-serif;
    font-family: 14px;
    font-weight: bold;
    color: var(--black);
    margin-bottom: 20px;
}
.subscribe button{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    background-color: var(--blue);
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    cursor: pointer;
}
.last{
    margin-bottom: 15px;
}
.social-panel{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
}
.social{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 55px;
    height: 55px;
    cursor: pointer;
}
.rss{
    background-color: var(--rss);
    color: white;
    text-align: center;
}
.facebook{
    background-color: var(--facebook);
    color: white;
}
.twitter{
    background-color: var(--twitter);
    color: white;
}
.points{
    height: 55px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--gray);
}
.blue-point{
    width: 11px;
    height: 11px;
    border-radius: 11px;
    background-color: var(--blue-point);
    margin-right: 5px;
}
.pink-point{
    width: 11px;
    height: 11px;
    border-radius: 11px;
    background-color: var(--pink-point);
}
.google{
    background-color: var(--google);
    color: white;
}
.copyright{
    border-bottom: 1px solid #bdbdbd;
    border-top: 1px solid #bdbdbd;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: var(--black);
}
.copyright span{
    color: var(--red-text);
    cursor: pointer;
}


















@media (max-width: 1457px){
    .group:hover .brightness{
        justify-content: flex-start;
    }
}
@media (max-width: 1427px){
    .last-li .pad{
        background-color: orangered;
        position: relative;
        right: 205px;
    }
    .last-li .hover-item{
        right: 205px;
    }
    .crafts-button{
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 1242px){
    .lower-img img{
        width: 269px;
        height: 152px;
    }
    .list-head{
        font-size: 18px;
    }
}
@media (max-width: 1197px){
    .slider .brightness:hover{
        display: grid;
        grid-template-columns: 1fr;
        align-content: flex-end;
        justify-items: center;
    }
    .slider .baby-shop{
        font-size: 12px;
        padding: 10px;
    }
}
@media (max-width: 1117px){
    nav ul {
        width: 100%;
    }
    nav ul li{
        padding: 0;
        margin: 0;
    }
    .container{
        width: 100%;
    }
}
@media(max-width: 1037px){
    footer{
        width: 100%;
    }
    .list-head{
        text-align: center;
    }
    nav ul li{
        width: 50px;
    }
    .first{
        width: 50px;
        text-align: center;
    }
    .second{
        font-size: 10px;
        width: 100px;
    }
    .womens-head{
        font-size: 25px;
    }
}
@media (max-width: 925px){
    .burder-container{
        display: flex;
    }
    nav{
        display: none;
    }
}
@media(max-width: 882px){
    .slider{
        display: block;
    }
    .big{
        margin-bottom: 5px;
    }
    .small{
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 5px;
    }
    .by{
        width: 80%;
    }
}
@media (max-width: 823px){
    .lower-img{
        grid-template-columns: 369px;
        justify-content: center;
        justify-items: center;
        grid-row-gap: 5px;
    }
    .lists2{
        display: block;
    }
    .list-head{
        text-align: left;
        margin-bottom: 10px;
    }
    footer ol{
        margin-bottom: 50px;
    }
    footer li{
        display: inline-block;
    }
    footer li:not(:last-child){
        margin-right: 15px;
    }
    .social-panel{
        width: 60%;
        grid-column-gap: 5px;
    }
}
@media (max-width: 814px){
    .slider2{
        display: block;
    }
    .column-one{
        margin-bottom: 5px;
    }
    .jewerly{
        height: 495px;
    }
}
@media (max-width: 625px){
    .burder-container .logo{
        display: block;
    }
    .burder-container .logo img{
        width: 75px;
        height: 56px;
    }
    .burder-container{
        justify-content: space-between;
        border-bottom: 1px solid var(--red);
    }
    .burger{
        margin-top: 20px;
    }
    header{
        display: none;
    }
    .mens-info{
        width: 60%;
    }
    .womens-info{
        width: 60%;
    }
    .slider .brightness:hover{
        justify-content: flex-start;
        justify-items: flex-start;
    }
}
@media(max-width: 479px){
    .womens-info{
        width: 100%;
    }
}
@media(max-width: 439px){
    .jewerly{
        display: block;
    }
    .jewerly-block{
        transform: rotate(0deg);
        width: 100%;
        left: 0;
        top: 410px;
        right: 1px;
    }
    .new_product{
        margin: 0;
        font-size: 18px;
    }
    .copyright{
        display: block;
    }
    .search-block{
        padding: 20px;
    }
    .buttons button{
        position: relative;
        top: 20px;
        width: 50px;
        height: 50%;
    }
}
@media(max-width: 393px){
    .jewerly-text{
        font-size: 35px;
    }
}
@media(max-width: 345px){
    .mens-info{
        width: 100%;
    }
}
@media(max-width: 327px){
    .crafts-button{
        padding: 5px;
        font-size: 18px;
    }
}
@media(max-width: 315px){
    .jewerly-block{
        padding: 0;
    }
    .social{
        width: 35px;
        height: 35px;
    }
}