@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
    font-family: 'Aparajita', sans-serif;
    src: url(fonts/Aparajita.ttf);
}

:root{
    --black: #434343;
    --blue: #05aecc;
    --red: #f0626e;
    --red-text: #ef5966;
    --gray: #c2c2c2;
    --li-color: #676767;
    --rss: #f8bc2e;
    --facebook: #39599f;
    --twitter: #45b0e3;
    --blue-point: #0063dc;
    --pink-point: #ff0084;
    --google: #1872bf;
}